# PostgreSQL Environment Variables
POSTGRES_DB=your_database_name
DB_USR=your_username
DB_PWD=your_password

# PGADMIN Environment Variables
PGADMIN_DEFAULT_EMAIL=your_email@example.com
PGADMIN_DEFAULT_PASSWORD=your_pgadmin_password