# Django Environment Variables
DJANGO_SETTINGS_MODULE=your_settings_module
DJANGO_SECRET_KEY=your_secret_key
DJANGO_DEBUG=your_debug_flag
DJANGO_ALLOWED_HOSTS=your_allowed_hosts

# PostgreSQL Connection Variables (deben coincidir con postgresql/.env)
DB_NAME=your_database_name
DB_USER=your_username
DB_PASSWORD=your_password
DB_HOST=your_db_host
DB_PORT=your_db_port
DB_CONN_MAX_AGE=your_conn_max_age

# Time Zone
TZ=your_time_zone
